.u-section-5-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5-1 .u-shape-1 {
  width: 767px;
  height: 433px;
  margin: -15px 0 0 auto;
}

.u-section-5-1 .u-layout-wrap-1 {
  width: 1002px;
  margin: -331px auto 60px 33px;
}

.u-section-5-1 .u-image-1 {
  min-height: 460px;
  background-image: url("images/IMG-20191005-WA00922.jpg");
  background-position: 50% 50%;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-1 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5-1 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-5-1 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  margin: 0;
}

.u-section-5-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5-1 .u-shape-1 {
    width: 810px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 432px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-5-1 .u-shape-1 {
    width: 628px;
    height: 527px;
    margin-left: 92px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -469px;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 331px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-5-1 .u-shape-1 {
    height: 858px;
    margin-top: 222px;
    margin-right: inherit;
    margin-left: inherit;
    width: auto;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -989px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 593px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5-1 .u-shape-1 {
    height: 614px;
    margin-top: 98px;
    width: auto;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -689px;
  }

  .u-section-5-1 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    animation-duration: 1000ms;
  }

  .u-section-5-1 .u-text-2 {
    animation-duration: 1000ms;
  }
}.u-section-5-2 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5-2 .u-shape-1 {
  width: 767px;
  height: 433px;
  margin: -15px 0 0 auto;
}

.u-section-5-2 .u-layout-wrap-1 {
  width: 1002px;
  margin: -331px auto 60px 33px;
}

.u-section-5-2 .u-image-1 {
  min-height: 460px;
  background-image: url("images/WhatsAppImage2021-06-03at10.19.19PM.jpeg");
  background-position: 52.35% 26.03%;
  background-size: 120%;
}

.u-section-5-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-2 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5-2 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-5-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Lobster, display;
  margin: 0;
}

.u-section-5-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5-2 .u-shape-1 {
    width: 810px;
  }

  .u-section-5-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5-2 .u-image-1 {
    min-height: 432px;
  }

  .u-section-5-2 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5-2 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-5-2 .u-shape-1 {
    width: 628px;
    height: 527px;
    margin-left: 92px;
  }

  .u-section-5-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -469px;
  }

  .u-section-5-2 .u-image-1 {
    min-height: 331px;
  }

  .u-section-5-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-5-2 .u-shape-1 {
    height: 858px;
    margin-top: 222px;
    margin-right: inherit;
    margin-left: inherit;
    width: auto;
  }

  .u-section-5-2 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -989px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5-2 .u-image-1 {
    min-height: 593px;
  }

  .u-section-5-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-2 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-5-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5-2 .u-shape-1 {
    height: 614px;
    margin-top: 98px;
    width: auto;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-5-2 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -689px;
  }

  .u-section-5-2 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5-2 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
    margin-left: 10px;
  }

  .u-section-5-2 .u-text-2 {
    width: auto;
    animation-duration: 1000ms;
    margin-right: 10px;
  }
}.u-section-5-3 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5-3 .u-shape-1 {
  width: 767px;
  height: 433px;
  margin: -15px 0 0 auto;
}

.u-section-5-3 .u-layout-wrap-1 {
  width: 1002px;
  margin: -331px auto 60px 33px;
}

.u-section-5-3 .u-image-1 {
  background-image: url("images/IMG-20191016-WA00002.jpg");
  background-position: 50% 27.94%;
  min-height: 460px;
}

.u-section-5-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-3 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5-3 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-5-3 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  margin: 0;
}

.u-section-5-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5-3 .u-shape-1 {
    width: 810px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-5-3 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5-3 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-5-3 .u-shape-1 {
    width: 628px;
    height: 527px;
    margin-left: 92px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -469px;
  }

  .u-section-5-3 .u-image-1 {
    min-height: 331px;
  }

  .u-section-5-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5-3 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-5-3 .u-shape-1 {
    height: 858px;
    margin-top: 222px;
    margin-right: inherit;
    margin-left: inherit;
    width: auto;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -989px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5-3 .u-image-1 {
    min-height: 593px;
  }

  .u-section-5-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-3 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-5-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5-3 .u-shape-1 {
    height: 614px;
    margin-top: 98px;
    width: auto;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -689px;
  }

  .u-section-5-3 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5-3 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
  }

  .u-section-5-3 .u-text-2 {
    animation-duration: 1000ms;
  }
}.u-section-5-4 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5-4 .u-shape-1 {
  width: 767px;
  height: 433px;
  margin: -15px 0 0 auto;
}

.u-section-5-4 .u-layout-wrap-1 {
  width: 1002px;
  margin: -331px auto 60px 33px;
}

.u-section-5-4 .u-image-1 {
  background-image: url("images/IMG_20200214_1853063.jpg");
  background-position: 50% 50%;
  min-height: 460px;
}

.u-section-5-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-4 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5-4 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-5-4 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  margin: 0;
}

.u-section-5-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5-4 .u-shape-1 {
    width: 810px;
  }

  .u-section-5-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5-4 .u-image-1 {
    min-height: 432px;
  }

  .u-section-5-4 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5-4 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-5-4 .u-shape-1 {
    width: 628px;
    height: 527px;
    margin-left: 92px;
  }

  .u-section-5-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -469px;
  }

  .u-section-5-4 .u-image-1 {
    min-height: 331px;
  }

  .u-section-5-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5-4 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-5-4 .u-shape-1 {
    height: 858px;
    margin-top: 222px;
    margin-right: inherit;
    margin-left: inherit;
    width: auto;
  }

  .u-section-5-4 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -989px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5-4 .u-image-1 {
    min-height: 593px;
  }

  .u-section-5-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-4 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-5-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5-4 .u-shape-1 {
    height: 614px;
    margin-top: 98px;
    width: auto;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-5-4 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -689px;
  }

  .u-section-5-4 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5-4 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
  }

  .u-section-5-4 .u-text-2 {
    animation-duration: 1000ms;
  }
}.u-section-5-5 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5-5 .u-shape-1 {
  width: 767px;
  height: 433px;
  margin: -15px 0 0 auto;
}

.u-section-5-5 .u-layout-wrap-1 {
  width: 1002px;
  margin: -331px auto 60px 33px;
}

.u-section-5-5 .u-image-1 {
  background-image: url("images/Studio_Project1.jpeg");
  background-position: 50% 50%;
  min-height: 460px;
}

.u-section-5-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-5 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5-5 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-5-5 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  margin: 0;
}

.u-section-5-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5-5 .u-shape-1 {
    width: 810px;
  }

  .u-section-5-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5-5 .u-image-1 {
    min-height: 432px;
  }

  .u-section-5-5 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5-5 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-5-5 .u-shape-1 {
    width: 628px;
    height: 527px;
    margin-left: 92px;
  }

  .u-section-5-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -469px;
  }

  .u-section-5-5 .u-image-1 {
    min-height: 331px;
  }

  .u-section-5-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5-5 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-5-5 .u-shape-1 {
    height: 858px;
    margin-top: 222px;
    margin-right: inherit;
    margin-left: inherit;
    width: auto;
  }

  .u-section-5-5 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -989px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5-5 .u-image-1 {
    min-height: 593px;
  }

  .u-section-5-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-5 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-5-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5-5 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5-5 .u-shape-1 {
    height: 614px;
    margin-top: 98px;
    width: auto;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-5-5 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -689px;
  }

  .u-section-5-5 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5-5 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5-5 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
  }

  .u-section-5-5 .u-text-2 {
    animation-duration: 1000ms;
  }
}.u-section-5-6 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5-6 .u-shape-1 {
  width: 767px;
  height: 433px;
  margin: -15px 0 0 auto;
}

.u-section-5-6 .u-layout-wrap-1 {
  width: 1002px;
  margin: -331px auto 60px 33px;
}

.u-section-5-6 .u-image-1 {
  background-image: url("images/WhatsApp_Image_2021-06-03_at_10.19.13_PM.jpeg");
  background-position: 50% 50%;
  min-height: 460px;
}

.u-section-5-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-6 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5-6 .u-container-layout-2 {
  padding: 30px 55px 30px 59px;
}

.u-section-5-6 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  margin: 0 0 0 1px;
}

.u-section-5-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5-6 .u-shape-1 {
    width: 810px;
  }

  .u-section-5-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5-6 .u-image-1 {
    min-height: 432px;
  }

  .u-section-5-6 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5-6 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-5-6 .u-shape-1 {
    width: 628px;
    height: 527px;
    margin-left: 92px;
  }

  .u-section-5-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -469px;
  }

  .u-section-5-6 .u-image-1 {
    min-height: 331px;
  }

  .u-section-5-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5-6 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-5-6 .u-shape-1 {
    height: 858px;
    margin-top: 222px;
    margin-right: inherit;
    margin-left: inherit;
    width: auto;
  }

  .u-section-5-6 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -989px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5-6 .u-image-1 {
    min-height: 593px;
  }

  .u-section-5-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-6 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-5-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5-6 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5-6 .u-shape-1 {
    height: 614px;
    margin-top: 98px;
    width: auto;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-5-6 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -689px;
  }

  .u-section-5-6 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5-6 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5-6 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
  }

  .u-section-5-6 .u-text-2 {
    animation-duration: 1000ms;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/WhatsAppImage2021-06-03at10.19.18PM.jpeg");
  background-position: 50% 50%;
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0 50px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.625rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: Lobster, display;
  animation-duration: 1000ms;
  margin: 71px 27px 0 1px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 534px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 437px;
    background-position: 33.42% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 55px 110px 0 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 441px;
    margin-bottom: -370px;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 297px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 314px;
    margin-bottom: -243px;
    margin-left: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 327px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 589px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  font-weight: normal;
  margin: 130px 116px 0 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 30px 117px 120px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1020px;
}

.u-section-3 .u-shape-1 {
  height: 480px;
  background-image: none;
  box-shadow: 0 0 8px 0 rgba(41,46,51,1);
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 915px;
  margin: -358px auto 60px calc(((100% - 1140px) / 2) + 113px);
}

.u-section-3 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  animation-duration: 2000ms;
  margin: 0;
}

.u-section-3 .u-image-1 {
  height: 305px;
  object-position: 50% 18.86%;
  animation-duration: 1000ms;
  margin: 29px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 469px;
}

.u-section-3 .u-image-2 {
  height: 516px;
  width: 584px;
  box-shadow: 0 0 20px 0 rgba(41,46,51,0.5);
  margin-top: -65px;
  margin-right: auto;
  margin-left: 0;
  animation-duration: 2000ms;
  object-position: 10.48% 50%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 327px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 0 10px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 327px;
}

.u-section-3 .u-image-3 {
  object-position: 0% 31.59%;
  background-position: 0% 50%;
  height: 259px;
  animation-duration: 3000ms;
  margin: 0 auto 21px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 327px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  animation-duration: 2000ms;
  margin: 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + 25px);
  }

  .u-section-3 .u-image-1 {
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-3 .u-image-2 {
    height: 474px;
    width: 537px;
  }

  .u-section-3 .u-image-3 {
    margin-right: inherit;
    margin-left: inherit;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1147px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 240px;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-3 .u-image-2 {
    height: 371px;
    width: 420px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 454px;
  }

  .u-section-3 .u-image-3 {
    height: 360px;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1566px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    height: 450px;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-3 .u-image-2 {
    height: 429px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: inherit;
    margin-left: inherit;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 681px;
  }

  .u-section-3 .u-image-3 {
    height: 540px;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1143px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    height: 283px;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-3 .u-image-2 {
    height: 270px;
    width: auto;
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 429px;
  }

  .u-section-3 .u-image-3 {
    height: 340px;
    margin-right: inherit;
    margin-left: inherit;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/IMG_0029.JPG");
  background-position: 50% 8.55%;
}

.u-section-4 .u-sheet-1 {
  min-height: 683px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  animation-duration: 1000ms;
  font-family: abril-fatface;
  margin: 313px 29px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-4 .u-text-1 {
    width: 673px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-block-5581-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-5581-5 {
  width: 37px;
  height: 37px;
  background-image: none;
}

.u-block-5581-6 {
  width: 37px;
  height: 37px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 575px) {
  .u-block-5581-5 {
    position: absolute;
    left: 0;
    right: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 710px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-6 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("images/IMG_9528.jpg");
  background-position: 50% 100%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  animation-duration: 2000ms;
  margin: 0;
}

.u-section-6 .u-text-2 {
  animation-duration: 2000ms;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: inherit;
    margin-left: inherit;
  }

  .u-section-6 .u-image-1 {
    background-position: 0% 78.85%;
    min-height: 486px;
    background-size: auto 105%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-6 .u-image-1 {
    min-height: 372px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-6 .u-image-1 {
    
    min-height: 558px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-6 .u-image-1 {
    min-height: 351px;
  }
}